<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Webpack SSR Pages Simple
    each href in srcs.styles
      link(rel="stylesheet", href=href)
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/about") About
    main
      block content
    each src in srcs.scripts
      script(src=src)
